.button:hover, .button:focus{
  background-color: #507BC5;
  color: white;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

input:hover {
 border: 2px #507BC5 solid;
 -webkit-transition-duration: 0.2s; /* Safari */
 transition-duration: 0.2s;
}

input:focus {
 background: white;
}

/* NAVIGATION BAR INTERACTIONS */
.side-navigation .nav-link:hover{
  background-color: #e1e1e1;
  color: #212121;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}
