/* GENERAL */

/* ANCHOR TAGS */
*{
  scroll-behavior: smooth;
}

.menu-items a:hover{
  border-image: linear-gradient(270deg, #B33A37 0%, #507BC5 100%) 1 stretch;
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
}

.menu-items a, .menu-items a:active, .menu-items a:active{
  color:#E1E1E1;
}


.active{
  background-image: linear-gradient(to right, #507BC5 , #B33A37);
  color:white;}

a.sample-link-button:hover{
  background:#4777E2;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color:#E1E1E1;
}

.button:focus, .button:hover {
  background-image: linear-gradient(to right, #507BC5 , #B33A37);
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:active{
  background-image: linear-gradient(to right, #507BC5 , #B33A37);
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

/*  PRODUCT BUTTON */

.button-product:focus, .button-product:hover {
  background-image: linear-gradient(to right, #507BC5 , #B33A37);
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button-product:active{
  background-image: linear-gradient(to right, #507BC5 , #B33A37);
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

input[type=text]:hover{

  border: .5px #212121 solid;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

input[type=text]:active{
  background-color:#E0E0E0;
}

input[type=text]:focus{
  background-color:#E0E0E0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

input[type=number]:hover{
  background-color:#E0E0E0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

input[type=number]:active{
  background-color:#E0E0E0;
}

input[type=number]:focus{
  background-color:#E0E0E0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

a img:hover{
  opacity:40%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

a img:focus{
  background: #4777E2;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.filter-option:hover,.filter-option:active {
  text-decoration: underline;
    color:#151515;
}

textarea:hover{
  border: .5px #212121 solid;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
