.button:hover, .button:focus{
  background-color: #155e9e;
}

nav a {
  color: black;
  font-weight: Bold;
  padding: 10px 25px;
  text-decoration: none;
  border-width: 0.2rem;
  border-style: solid;
  margin-right: 1rem;
  transition: 0.2s;
}

nav a:hover, nav a:focus {
  bottom: 1rem;
  color: white;
  background-color: #507BC5;
  transition: 0.5s ease;
}

input:hover {
 border: 2px #507BC5 solid;
}

input:focus {
 background: white;
}
