/* GENERAL CONTENT LAYOUT */
body{
  padding:0;
  margin:0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul, ol {
  margin-top:0;
  margin-bottom:0;
  padding-bottom:0;
}


/* STYLE GUIDE COMPONENTS */
.info-box {
  padding-bottom: 4rem;
  padding-top:3rem;
  padding-left:2rem;
}

.indent {
  padding-bottom: 4rem;
  padding-left:2rem;
  display:flex;
  flex-direction: column;
}

.citation-link {
  padding: 0.5rem 0rem;
}

.heading {
  color:#B33A37;
  padding-top:1rem;
}

/* LANDING PAGE */
.event-head, .soon-head {
  padding-bottom: 1rem;
}


/* BUTTONS */
.button {
  background-color: #E1E1E1;
  padding: 1rem 2em;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  text-align: center;
}


/* BUTTON */
.button-product {
  background-color: #E1E1E1;
  color: #151515;
  padding: 1rem 2em;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 2px;
  margin-bottom: 1rem;
}

/* SIDE NAVIGATION BAR */
/* SUBMIT AND RESET */
.srbutton {
  display: flex inline;
  align-items: flex-start;
  flex-direction: row;
}


/* NAVIGATION BAR */

/* .navbar {
  overflow: hidden;
  background-color: #E1E1E1;
}

.navbar div {
  display:none;
}

.navbar .toggle {
  display: inline-block;
  padding: 1em;
  color:black;
  vertical-align:middle;
}

.navbar .nav-link {
  float: left;
  display: block;
  padding: 1.5em 1.5rem;
} */

/* .navbar .nav-link:hover {
  border-image: linear-gradient(270deg, #B33A37 0%, #507BC5 100%) 1 stretch;
  color: #E1E1E1;
} */

.side-navbar .nav-link:hover {
background-color: #B33A37;  color: #E1E1E1;
}

.side-navbar .nav-link:visited {
  color: #E1E1E1;
}

.side-navbar .nav-link {
  color: #E1E1E1;
}

/* INPUT FIELDS */
input[type=text] {
  background-color: white;
  border: 0.5px #E0E0E0 solid;
  border-radius: 4px;
  /* width: 10rem; */
  padding:0.5rem 0.75rem;
}

input[type=number] {
  background-color: white;
  text-align: center;
  border: 0.5px #212121 solid;
  width: 3rem;
  padding:0.5rem 0.5rem;
}

input[type=radio] {
  margin-right:1rem;
}

/* PRODUCT PAGE */
.filter-section {
  padding-top:0rem;
  display:flex;
  flex-direction: column;
}

.filter-category {
  background-color: white;
  width:auto;
  margin:0;
  padding-right: 0.5rem;
  padding-left:0.5rem;
  padding-top:0.4rem;
  padding-bottom:0.5rem;
}

.filter-category.active:after {
  content: ' \002D';
  font-weight: bold;
  float: right;
}

.filter-category:after {
  content: ' \002B';
  font-weight: bold;
  float: right;
}

.filter-list {
  padding-left:2rem;
  display:flex;
  flex-direction: column;
  margin: 0.3rem 0;
}

.filter-option {
  text-decoration: none;
  margin: 0.1rem 0;
}

.listing-section {
  margin-top:2rem;
  flex-direction: row;
}

.tester {
  width:50%;
  height:50%;
  border:none;
}

/*  ABOUT US PAGE */
.about {
  max-width: 800px;
  margin: 8rem auto;
  padding: 0rem 1rem;
}

.about-container a {
  color: black;
  text-decoration: none;
}

.about-container a:hover, .container1 a:focus {
  color: #0F4C81;
  transition: 0.5s ease;
  text-decoration: none;
  opacity: 0.5;
}

/*  CONTACT US PAGE */
.contact {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 6rem;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.options-container img {
  max-width: 50%;
}


/*  SELECTED PRODUCT */

.selected {
  display: flex;
  max-width: 1000px;
  margin: 0rem auto;
}

.product {
  max-width: 50%;
  /* max-height: 100%; */
  padding: 1rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

summary {
  font-weight: 600;
  font-size: 12px;
}

details {
  margin-bottom: 4rem;
}

/*  RELATED SECTION IN SELECTED PRODUCT */
.related {
  max-width: 800px;
  margin: 2rem auto;
}

.related-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.related-card {
  padding: 0.5rem;
  width: auto;
  text-align: center;
}

.column-section {
  display: column;
  margin: 0rem 2rem 0rem 2rem;
}

/* REVIEWS SECTION IN SELECTED PRODUCT*/

.review {
  max-width: 800px;
  margin: 2rem auto;
}

.single-review {
  margin-top: 1.5rem;
  border-bottom: 0.05rem solid black;
  margin-bottom: 1.5rem;
  display: flex;
}

.review-text {
  margin-right: 40px;
}

.review-time {
  margin-left: auto;
  padding-left: auto;
}

/* PAYMENT FORM */

.confirm-button {
  margin-left: 1rem;
  margin-top:2rem;
  margin-bottom:2rem;
  width:50%;
  text-align: center;
}

.test-form {
  width:50%;
}

.form {
  margin: 2rem 0;
}

.product-preview {
  margin-top: 2rem;
}

.payment-form, .cart-preview {
  padding-left:1rem;
  padding-right: 3em;

  border-right: .5px #E0E0E0 solid;
  height:100%;
}

.product {
  margin-top:1rem;
}

.checkout-header {
  margin-bottom:3rem;
  margin-left:1rem;
  margin-right:1rem;

}


.cart-name-preview {
  padding-bottom:0.1rem;
  border-bottom:1px #E0E0E0 solid;
  display:block;
}

.quantity {
  margin-top:1.5rem;
  margin-bottom:0.2rem;
}

/* CART */
.price {
  padding-top:0.6rem;
}

.checkout {
  padding:0;
}

.shipping {
  padding:1rem 1rem;
}
.purchase {
  width:auto;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}


.cart-guide {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  height:100%;
}

.cart-info {
  padding-left:1rem;
}

.cart-guide-info {
  margin-bottom:2rem;
}
/* OTHER */
.art-direction {
  width:50%;
  height:50%;
}

.right-text {
  float:right;
}

.nav-tester {
  display:block;
  width:auto;
  justify-content: space-evenly;
}

.guide {
  width:50%;
}

.side-navbar {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #151515;
  overflow-x: hidden;
  padding-top: 20px;
  color: #E1E1E1;
}

.side-navbar a {
  padding-left:2rem;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  margin-top:1rem;
  text-decoration: none;
  font-size: 25px;
  color: #151515;
  display: block;
}

.test-content {
  margin-left: 350px;
  padding: 0px 10px;
}

.side-logo {
  padding-left:5rem;
  font-size:6rem;
  color:#B33A37;
}

.sub-heading {
  border-bottom:1px #E0E0E0 solid;
}

.product-photo {
  border-bottom:1px #E0E0E0 solid;
  margin-bottom:1rem;
}

/* NAVIGATION BAR STYLING */
nav {
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  top: 0;
}

.banner-line {
  width: 20%;
  height: 45px;
  margin: 1.5rem 0rem 0.5rem 1rem;
  background: linear-gradient(270deg, #B33A37 0%, rgba(179, 58, 55, 0) 100%);
  flex:2;
}

.mirror {
  transform: rotate(-180deg);
  margin: 1.5rem 1rem 0.5rem 0rem;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:0;
  padding: 1rem 0 0.5rem 0;
  background: #151515;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type:  none;
  width: 100%;
  background: #151515;
  padding: 0.5rem 1.5rem 1rem 1.5rem;
}

.menu-items a {
  white-space: nowrap;
  border-bottom: solid #151515 3px;
  padding: 0.5rem 1.5rem;
  margin:0 0.5rem;
}

.menu-items .dropdown {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


/* Style the collapsible content. Note: hidden by default */
.content {
  overflow: hidden;}

.toggle {
  display:none;
}

/* SECTION NAVIGATION STYLING */
.link-nav {
  padding: 13rem 0 2rem 0;
  margin-left: 2rem;
}

.extra-padding {
  padding-top:10rem;
}

.updates {
  display:flex;
  flex:row;
  max-width: 1000px;
  margin: 0 auto;
}

.updates div {
  padding: 1rem;
}

.home-banner .banner-button {
  margin-left:7%;
  width:30%;
  transform: translate(0%, -280%);
  background-color: #E1E1E1;
  color:#151515;

  border: none;
  cursor: pointer;

  text-align: center;
}

.citation-section {
  margin: 2rem auto;
  padding: 0rem 2rem;
  max-width: 800px;
}

footer {
  background-color: #151515;
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-section {
  max-width: 80%;
  padding: 1rem;
}

.listing-button{
  margin-top:0.5rem;
  margin-bottom:1rem;
}

.price-point{
  margin-top:1.5rem;
}

.review-input{
padding:1rem 0;
}