/*  STYLE GUIDE STYLING  */
body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  padding: 2rem;
}

.element {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-width: 0.05rem;
  border-style: solid;
  border-color: black;
}

/*  BUTTON ELEMENTS: */
.button {
  background-color: #507BC5;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 15px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  font-weight: 800;
}

nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

/*  TEXT INPUT FIELD W/ LABEL   */
input {
 border: 2px black solid;
 width: 100%;
 padding: 12px 10px;
 margin: 10px 0px;
 box-sizing: border-box;
}
