/* GENERAL LAYOUT */


body{
  padding:0;
  margin:0;
}
.info-box{
  padding-bottom: 4rem;
  padding-top:3rem;
  padding-left:2rem;
  }

.indent{
  padding-bottom: 4rem;
  padding-left:2rem;
  display:flex;
  flex-direction: column;
}

.citation-link{
  padding:0.5rem 0;
}

ul, ol{
  margin-top:0;
  margin-bottom:0;
  padding-bottom:0;
}

.heading{
  color:#4777E2;
  padding-top:1rem;
}

/* BUTTONS */
.button{
  background-color: #E1E1E1;
  padding: 1rem 2em;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  text-align: center;
}

a.sample-link-button{
  background:#E0E0E0;
  padding: 1.5em 1.5rem;
  border-radius: 4px;
}

/*  PRODUCT BUTTON */
.button-product {
  background-color: #E1E1E1;
  color: #151515;
  padding: 1rem 2em;
  cursor: pointer;
  width:8rem;
  margin-right:1rem;
  border: none;
  border-radius: 2px;
}

/* SUBMIT AND RESET */
.srbutton{
  display: flex inline;
  align-items: flex-start;
  flex-direction: row;
}


/* NAVIGATION BAR */

.navbar{
  overflow: hidden;
  background-color: #E1E1E1;
}

.navbar div{
  display:none;
}

.navbar .toggle{
  display: inline-block;
}

.navbar .nav-link{
  float: left;
  display: block;
  padding: 1.5em 1.5rem;
}

.navbar .nav-link:hover{
  background-color: #507BC5;
  color: #E1E1E1;
}

.side-navbar .nav-link:hover{
  background-color: #E1E1E1;
  color: #151515;
}
.navbar .nav-link:active{
  background-color: #507BC5;
  color: white;
}

.navbar .toggle{
  padding: 1em;
  color:black;
  vertical-align:middle;
}

/* TEXT INPUT */

/* help from https://www.bitdegree.org/learn/css-form */
input[type=text]{
  background-color: white;
  border: 0.5px #E0E0E0 solid;
  border-radius: 4px;
  /* width: 10rem; */
  padding:0.5rem 0.75rem;
}


/* NUMBER INPUT */
/* help from https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_number */
input[type=number]{
  background-color: white;
  text-align: center;
  border: 0.5px #212121 solid;
  width: 3rem;
  padding:0.5rem 0.5rem;
}


/* RADIO BUTTON */
input[type=radio]{
  margin-right:1rem;
}

/* PRODUCT PAGE */

/* .banner{
  border-bottom: #4777E2 solid 2px;
  padding-top: 2rem;
} */

.filter-section{
  padding-top:9.5rem;
  display:flex;
  flex-direction: column;
}

.filter-category{
  background-color: white;
  width:auto;
  margin:0;
  padding-right: 0.5rem;
  padding-left:0.5rem;
  padding-top:0.4rem;
  padding-bottom:0.5rem;
}

.filter-category.active:after{
  content: ' \002D';
  font-weight: bold;
  float: right;
}

.filter-category:after{
  content: ' \002B';
  font-weight: bold;
  float: right;
}

.filter-list{
  padding-left:2rem;
  display:flex;
  flex-direction: column;
  margin: 0.3rem 0;
}

.filter-option{
  text-decoration: none;
  margin: 0.1rem 0;

}

.listing-section{
  margin-top:2rem;
  flex-direction: row;
}

.product-photo{
  margin-bottom:1rem;
}

.tester{
  width:50%;
  height:50%;
  border:none;
}

/*  ABOUT US PAGE */
.about {
  max-width: 800px;
  margin: 8rem auto;
}

/* .about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */

.about-container a {
  color: black;
  text-decoration: none;
}

.about-container a:hover, .container1 a:focus {
  color: #0F4C81;
  transition: 0.5s ease;
  text-decoration: none;
  opacity: 0.5;
}

/*  CONTACT US PAGE */
.contact {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 6rem;
}

.options-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.options-container img {
  max-width: 50%;
}

.related-container a {
  color: black;
  text-decoration: none;
}

.related-container a:hover, .container1 a:focus {
  color: #0F4C81;
  transition: 0.5s ease;
  text-decoration: none;
  opacity: 0.5;
}

/*  SELECTED PRODUCT */
.link-nav {
  margin-top: 2rem;
  margin-left: 2rem;
}

.selected {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.product {
  max-width: 50%;
  padding: 14px;
}

img {
  max-width: 100%;
  width: auto;
}

summary {
  font-weight: 600;
  font-size: 12px;
}

details {
  margin-bottom: 4rem;
}

/*  RELATED SECTION IN SELECTED PRODUCT */
.related {
  max-width: 800px;
  margin: 2rem auto;
}

.related-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.related-container a {
  color: black;
  text-decoration: none;
}

.related-container a:hover, .container1 a:focus {
  color: #0F4C81;
  transition: 0.5s ease;
  text-decoration: none;
  opacity: 0.5;
}

.related-card {
  max-width: 200px;
  padding-right: 2rem;
  padding-bottom: 2rem;
  width: auto;
  text-align: center;
}

/* REVIEWS SECTION IN SELECTED PRODUCT*/

.review {
  max-width: 800px;
  margin: 2rem auto;
}

.single-review {
  margin-top: 1.5rem;
  border-bottom: 0.05rem solid black;
  margin-bottom: 1.5rem;
  display: flex;
}

.review-text {
  margin-right: 40px;
}

.review-time {
  margin-left: auto;
  padding-left: auto;
}

/* PAYMENT FORM */

.confirm-button{
  margin-left: 1rem;
  margin-top:2rem;
  margin-bottom:2rem;
  width:50%;
  text-align: center;
}

.test-form{
  width:50%;
}
.form{
  margin: 2rem 0;
}

.product-preview{
  margin-top: 2rem;
}

.payment-form, .cart-preview{
  padding-left:1rem;
  padding-right: 3em;

  border-right: .5px #E0E0E0 solid;
  height:100%;
}

.product{
  margin-top:1rem;
}

.checkout-header{
  margin-top:3rem;
  margin-bottom:3rem;
  margin-left:1rem;
  margin-right:1rem;
  border-bottom: #B33A37 2px solid;
}

.cart-name-preview{
  padding-bottom:0.1rem;
  border-bottom:1px #E0E0E0 solid;
  display:block;
}

.quantity{
  margin-top:1.5rem;
  margin-bottom:0.2rem;
}

/* CART */
.price{
  padding-top:0.6rem;
}
.checkout{
  padding:0;
}

.shipping{
  padding:1rem 1rem;
}
.purchase{
  width:auto;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.checkout-image{
  width:30%;
  height:30%;
}

.cart-guide{
  padding-left:2rem;
  padding-right:1rem;
  padding-bottom:2rem;
  height:100%;
}

.cart-info{
  padding-left:1rem;
}
/* OTHER */
.art-direction{
  width:50%;
  height:50%;
}

.right-text{
  float:right;
}


.nav-tester{
  display:block;
  width:auto;
  justify-content: space-evenly;
}

.guide{
  width:50%;
}

.side-navbar {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4777E2;
  overflow-x: hidden;
  padding-top: 20px;
  color: #151515;
}

.side-navbar a{
  padding-left:2rem;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  margin-top:1rem;
  text-decoration: none;
  font-size: 25px;
  color: #151515;
  display: block;
}

.test-content {
  margin-left: 350px;
  padding: 0px 10px;
}

.side-logo{
  padding-left:5rem;
  font-size:6rem;
  color:white;
}

.sub-heading{
  border-bottom:1px #E0E0E0 solid;
}

.product-photo{
  border-bottom:1px #E0E0E0 solid;
}

/* NAVIGATION BAR STYLING */

nav{
  background-color: #151515;

}
.banner-line{
  width: 20%;
  height: auto;
  background: linear-gradient(270deg, #B33A37 0%, rgba(179, 58, 55, 0) 100%);
  flex:2;}

.mirror{
  transform: rotate(-180deg);
}

.banner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:0;
  padding: 3rem 0 0 0;
}

.menu-items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type:  none;
  padding:0;
}

.header{
  background-color: #151515;
}
.menu-items{
  padding: 1.5rem 0;
  background-color: #151515;
}
.menu-items a {
margin:0 2vw;
white-space: nowrap;
border-bottom:solid #151515 3px;

}


#navbar{
  background-color: #151515;


}
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 100px;
}

.toggle {
  display: none;
}

#dropdown-content{
  background: #4777E2;
  display:flex;
}



.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.toggle{
  display:none;
}