*, *::after, *::before {
  box-sizing: border-box;
}

.content {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-weap:wrap;
  flex-wrap: wrap;

  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}

.left-content {
  -webkit-flex: 1 1 18em;
  -ms-flex: 1 1 18em;
  flex: 1 1 18em;
  padding: 0 1em;
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
}

.right-content {
  -webkit-flex: 1 1 18em;
  -ms-flex: 1 1 18em;
  flex: 1 1 18em;
  padding: 0 1em;
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
}

.listing-section {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-weap:wrap;
  flex-wrap: wrap;
}

.product-card {
  display:flex;
  flex-direction: column;
  padding:2%;
  flex-grow:1;
  flex-basis:15%;
}

.product-photo {
  max-width: 100%;
  flex: 1 1 auto;
}

.checkout {
  width:auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-weap:wrap;
  flex-wrap: wrap;

  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}

.cart-guide {
  -webkit-flex-wrap: wrap;
  -ms-flex-weap:wrap;
  flex-wrap: wrap;

  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;

  -webkit-flex: 1 1 18em;
  -ms-flex: 1 1 18em;
  flex: 1 1 18em;
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
}
.product-1, .product-2, .product-3,.product-4{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
  /* flex: 1 1 auto; */
}

.payment-form, .cart-preview{
  -webkit-flex: 1 1 18em;
  -ms-flex: 1 1 18em;
  flex: 1 1 18em;
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
}

.form{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  padding: .3em;
  justify-content: space-between;
}

.form-row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}

.form-row > input {
  flex: 2;
  border-radius: 4px;
}

.form-row > input{
  padding: .5em;
}

.form-row-2 {
  display: flex;
  padding: .3em;
  justify-content: space-between;
}

.form-row-2 > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}

textarea {
  width:100%;
  flex:2;
  background-color: white;
  border: 0.5px #E0E0E0 solid;
  padding: .5em;
  height:200px;
  resize:none;
  border-radius: 4px;
  font-family: 'Roboto Light', 'Times New Roman', Times, serif;
  font-size: 1rem;
}



.news-listing div {
  padding: 1rem;
}
.news-listing{
  display:flex;
  max-width: 1000px;
  flex-direction: row;
}
.event-full{
padding:2rem;
flex:1;
}

.coming-soon-full{
  padding:2rem;
  flex:1;
}


@media (min-width: 57rem) {
  .navbar{
    display: flex;
  }

  .navbar div{
    display: flex;
  }

  .navbar .left{
    display: flex;
    flex:3;
  }

  .navbar .right{
    display: flex;
    flex:1;
  }

  .navbar .nav-link{
    width:auto;
  }

  .navbar .right{
    justify-content: flex-end;
  }
}


@media (max-width: 57rem) {
  .logo{
    text-align: center;
  }

 .navbar div {
    display: flex;
    flex-direction: column;
  }

  .navbar .left {
    display: flex;
    flex:1;
  }

  .navbar .right {
    display: flex;
    justify-content: center;
    flex:1;
  }
}

@media (max-width: 375px) {
  .selected {
    display: flex;
    flex-direction: column;
    margin: 0rem 1rem;
  }

  h3 {
    padding-bottom: 1rem;
  }

  .landing-heading {
    margin: 1rem 2rem;
  }

  .home-banner .banner-button{
    transform: translate(0%, -180%);
    padding: 0.5rem;
    margin: auto;
  }

  .updates div {
    padding: 1rem 2rem 1rem 2rem;
  }
}

@media (max-width: 500px) {
  .selected {
    display: flex;
    flex-direction: column;
    margin: 0rem 1rem;
  }

  h3 {
    padding-bottom: 1rem;
  }

  .landing-heading {
    margin: 1rem 2rem;
  }

  .home-banner .banner-button{
    margin-left:7%;
    width:30%;
    transform: translate(0%, -180%);
  }

  .updates div {
    padding: 1rem 2rem 1rem 2rem;
  }
}

@media (max-width: 600px) {
  .updates{
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .news-listing{
    display: flex;
    flex-direction: column;
  }

  .events {
    margin-bottom: 1rem;
  }

  .landing-heading {
    margin: 1rem 2rem;
  }

  .home-banner .banner-button{
    margin-left:7%;
    width:30%;
    transform: translate(0%, -180%);
  }

  /* .button-product{
    margin: auto;
  } */
}

@media (min-width: 668px) {
  .left-content{
    flex:0.75;
  }

  .right-content{
    flex:3;
  }
}

@media (max-width: 668px) {
  .left-content{
    display:none;
  }

  .product-card {
    flex: 2 40%;
  }

  .product-title-1, .product-title-2 {
    text-align: left;
  }

  .cart-guide {
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    border-bottom: 1px #E0E0E0 solid;
  }

 .cart-preview {
    -webkit-flex: 1 1 18em;
    -ms-flex: 1 1 18em;
    flex: 1 1 18em;
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    border:none;
    padding-top:1rem;
  }

  .landing-heading {
    margin: 1rem 2rem;
  }

  .home-banner .banner-button{
    margin-left:7%;
    width:30%;
    transform: translate(0%, -180%);
  }
}

@media screen and (max-width: 900px) {
  .menu-items a {
    display: none;
  }

  .menu-items a.dropdown {
    display: block;
  }

  .menu-items.responsive {
    display: flex;
    flex-direction: column;
  }

  .menu-items.responsive a {
    width: auto;
    display: block;
    text-align: center;
  }

  .link-nav {
    display: none;
  }

  .extra-padding {
    padding-top:10rem;
  }

  .product-photo {
    max-width: 100%;
    max-height:100%;
  }

  .landing-heading {
    margin: 1rem 2rem;
  }

  .home-banner .banner-button {
    margin-left:7%;
    width:30%;
    transform: translate(0%, -180%);
  }
}

@media(min-width:1000px) {
  .cart-guide {
    flex:1;
  }

  .payment-form, .cart-preview {
    flex:1.4;
  }
}

@media (max-width: 1000px) {
  .product-card {
    flex: 2 45%;
  }
  .product-title-1, .product-title-2{
    text-align: left;
  }
}

@media (max-width: 1320px) {
  .product-card {
    flex: 1 45%;
  }
  .card{
    max-width: 200px;
  }
}
